* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 20vh;
    padding: 0 90px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.hamburger-button .icon {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.hamburger-button[aria-expanded='false'] .icon::before {
    content: '\2630';
}

.hamburger-button[aria-expanded='true'] .icon::before {
    content: '\2715';
}

.hamburger-button-js-enabled + .menu {
    display: flex;
    position: absolute;
    right: 20px;
    flex-direction: column;
}

.hamburger-button-js-enabled + .menu-closed {
    display: none;
}

.menu li a {
    color: #ffffff;
    padding: 10px;
    display: block;
}

.menu li a:hover, 
.menu li a:focus {
    background-color: #555;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 14px;
    cursor: pointer;
}

.hamburger-button-js-enabled {
    display: block;
}

@media (width : 768px) {
    .hamburger-button {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: auto;
        justify-content: space-around;
        align-items: center;
    }

    .menu.open {
        display: flex;
    }
}

